baseURL = "https://robinovitch61.github.io/"
languageCode = "en-us"
title = "The Leo Zone"

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineAnchors = ""
    lineNoStart = 1
    lineNos = true
    lineNumbersInTable = true
    noClasses = true
    style = "pygments"
    tabWidth = 4

[markup.goldmark.renderer]
  unsafe= true
