$BODY_BACKGROUND: #696969;
$CODE_BACKGROUND: #eaeaea;
$CONTENT_BACKGROUND: white;
$HEADER_BACKGROUND: #303030;
$HEADER_BOX_SHADOW: #C528FC;
$HEADER_HEIGHT: 208px;
$CONTENT_WIDTH: 700px;
$MOBILE_WIDTH: 700px;
$SUN_WIDTH: 550px;
$FOOTER_HEIGHT: 30px;
$HIGHLIGHT_COLOR: rgb(122, 255, 166);
$ANCHOR_COLOR: #C2C2C2;
