$BODY_BACKGROUND: #696969;
$DETAILS_BACKGROUND: #eeeeee;
$CONTENT_BACKGROUND: white;
$HEADER_BACKGROUND: #303030;
$HEADER_BOX_SHADOW: #c528fc;
$HEADER_HEIGHT: 208px;
$CONTENT_WIDTH: 700px;
$MOBILE_WIDTH: 700px;
$SUN_WIDTH: 550px;
$FOOTER_HEIGHT: 30px;
$HIGHLIGHT_COLOR: rgb(122, 255, 166);
$ANCHOR_COLOR: #c2c2c2;
