$BODY_BACKGROUND: grey;
$CONTENT_BACKGROUND: white;
$HEADER_BACKGROUND: #303030;
$HEADER_HEIGHT: 220px;
$CONTENT_WIDTH: 700px;
$MOBILE_WIDTH: 700px;
$SUN_WIDTH: 500px;
$FOOTER_HEIGHT: 50px;
$HIGHLIGHT_COLOR: rgb(122, 255, 166);
