@import "constants";

footer {
  width: 100%;
  height: $FOOTER_HEIGHT;
  display: flex;
  align-items: center;
  background: $HEADER_BACKGROUND;
  box-shadow: 0 0 5px 5px $HEADER_BOX_SHADOW;
  position: relative;
  overflow: hidden;

  .nav {
    a {
      padding: 0 1em;
      color: $ANCHOR_COLOR;
    }
  }

  .woopsy {
    position: absolute;
    right: -5px;
    color: $BODY_BACKGROUND;
  }
}
