// constants
$FOOTER_HEIGHT: 50px;
$HIGHLIGHT_COLOR: rgb(122, 255, 166);
$BODY_COLOR: 'black';

body {
  margin: 0;
  padding: 0;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 18px;
  color: $BODY_COLOR;
  min-height: 100vh;
  position: relative;

  &::after {
    content: '';
    display: block;
    height: $FOOTER_HEIGHT;
  }
}

// Typography
h1,
h2,
h3 {
  color: darkslategray;
}

h1 {
  margin: 0 0 0;
}

h2 {
  padding: 1em 0px 0px;
  margin: 0;
}

div.top-title h2 {
  padding: 0.5em 0;
}

.post h2 {
  margin: 50px 0px 0px;
  padding: 0;
  border-color: black;
  border-style: groove none none;
  border-width: 1px;
}

a {
  text-decoration: none;
  color: blue;
  overflow-wrap: break-word; // chrome
  word-wrap: break-word; // safari

  &:not(.btn):hover,
  &:not(.btn):focus,
  &:not(.btn):active {
    font-style: italic;
  }
  
  &.menu-item {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
  }
  
  &.menu-item:hover,
  &.menu-item:focus,
  &.menu-item:active {
    font-style: italic;
  }
}

.post-date {
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}

// @media (prefers-color-scheme: dark) {
//     h1,
//     h2,
//     h3,
//     body {
//         color: #e4e4e4;
//     }
//     div.top-title h2 {
//         color: rgb(26, 26, 26);
//     }
//     body {
//         background-color: #444;
//     }
//     a {
//         color: #e39777;
//     }
//     img {
//         filter: grayscale(30%);
//     }
// }

blockquote {
  border-left: 0.25em solid lightgray;
  padding-left: 1em;
  font-style: italic;
}

// Navbar
header {
  padding: 0;
  width: 100%;

  .menu {
    display: flex;
    align-items: center;

    .menu-item {
      padding: 0.5em 1em;
    }
  }

  .menu-btn {
    display: none;

    &:checked~.menu-icon {
      z-index: 10;
      padding: 0 0 100vh 100vw;
      -webkit-tap-highlight-color: transparent;
      
      .navicon-mid {
        background: transparent;
      }
    
      .navicon-bottom {
        transform: translateY(-11px) rotate(-45deg);
      }

      .navicon-top {
        transform: translateY(11px) rotate(45deg);
      }
    }
  }

  .menu-icon {
    cursor: pointer;
    flex-direction: column;
    padding: 0;

    .navicon-top,
    .navicon-mid,
    .navicon-bottom {
      background: black;
      height: 3px;
      width: 40px;
      display: block;
      margin: 4px 0;
      transition: all .2s ease-out;
    }

    .navicon-mid {
      transition: background .2s ease-out;
    }
  }
}

.nav-container {
  max-width: 100%;
  height: 4rem;
  padding: 0.5em 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

@media screen and (max-width:600px) {
  h2 {
    font-size: 1.4em;
  }

  .nav-container {
    align-items: flex-start;
    padding: 0.9em 0 0;
  }

  // show hamburger button
  .hamburger {
    display: flex;
  }

  header {
    .dropdown {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0.3em 0;
      min-width: 170px;
      width: 40%;
    }
    
    // Open menu if checked
    .menu {
      width: 200px;
      z-index: 5; // stack order, greater in front
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      margin-top: 0.5em;
      border: 0.5px solid grey;
      transition: visibility 0.25s, opacity 0.25s ease-in-out;
  
      .menu-item {
        width: 100%;
        padding: 0.7em 0;
      }
    }
  
    .menu-btn:checked {
      ~.menu {
        position: absolute;
        top: 60px;
        visibility: visible;
        opacity: 1;
        z-index: 15;
      }
    }
  }
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $FOOTER_HEIGHT;
  background-color: $HIGHLIGHT_COLOR;

  .footer-content {
    height: $FOOTER_HEIGHT;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      color: black;
      padding: 0 1em;
    }
  }
}

// Buttons
.btn {
  display: inline-block;
  padding: 8px 15px;
  color: darkslategray;
  background: #e3e3e3;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #e3e3e3;
  background: black;
}

.btn-top {
  float: right;
  margin-top: 23px;
}

.btn-text:hover {
  font-style: italic;
}

a {
  &:hover,
  &:focus,
  &:active {
    opacity: 70%;
  }

  .social-media-thumbnail {
    max-height: 27px;
    max-width: 30px;
  }
}

// Layout
div.top-title {
  background: $HIGHLIGHT_COLOR;
}

figure {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: 15px;

  @media screen and (max-width:600px) {
    img {
      max-width: 100% !important;
    }

    figcaption {
      a {
        overflow-wrap: anywhere; // chrome
        word-wrap: anywhere; // safari
      }
    }
  }
}

ul {
  list-style: none;
  margin-left: 1em;
  margin-bottom: 2em;
  padding-left: 0;
}

ul li {
  margin: 1em 1em 1em 0;
  padding-left: 1em;
  text-indent: -1em;
}

ul li:before {
  content: ">";
  padding-right: 5px;
}

.container {
  max-width: 700px;
  padding: 0 1em;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-buttons {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-wrap: wrap;
}

.no-bull-list {
  margin: 10px 10px 30px 70px;
}

.indent {
  margin-left: 40px;
}

span.italic {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

span.bold {
  font-weight: 700;
}

.figcaption-text {
  margin: 1em 1em 0;
  text-align: center;
}

// Table of Contents
.toc_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toc_list a {
  margin: 0 0.5em;
  padding: 0.3em 0;
  width: 100%;
  text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li,
#toc_container ul li:before {
  content: "";
  list-style: outside none none !important;
  margin: 0 0.5em;
  padding: 0.3em 0;
  width: 100%;
  text-align: center;
}

// Code
.highlight {
  @media screen and (max-width:600px) {
    font-size: 0.7em;

    // hide line numbers on mobile
    tbody {
      tr {
        td:first-child {
          display: none;
        }
      }
    }
  }
}

// MathJax
.MathJax {
  overflow: auto;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

// Misc
.centered {
  font-size: 2rem;
  font-family: serif;
  text-align: center;
}

.word-break {
  word-break: break-all;
}
