@import "constants";

@font-face {
  font-family: "noto-sans-mono";
  src: url("/fonts/NotoSansMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "noto-sans-mono";
  src: url("/fonts/NotoSansMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: noto-sans-mono, sans-serif;
  color: black;
  background: $BODY_BACKGROUND;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $MOBILE_WIDTH) {
    display: unset;
  }

  .content {
    width: $CONTENT_WIDTH;
    background: $CONTENT_BACKGROUND;
    min-height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});

    @media screen and (max-width: $MOBILE_WIDTH) {
      width: unset;
    }

    section {
      padding: 0.5em 0;

      &:first-child {
        padding-top: 1em;
      }

      &:last-child {
        padding-bottom: 1em;
      }

      @media screen and (max-width: $MOBILE_WIDTH) {
        padding: 0.2em 0;
      }

      .projects {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 20px;

        @media screen and (max-width: $MOBILE_WIDTH) {
          grid-gap: 10px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .project {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 14px;

          > a {
            color: unset;
            display: block;
            text-align: center;

            > img {
              border: 1px solid black;
            }

            > p {
              word-break: break-word;
              margin: 0;

              @media screen and (max-width: $MOBILE_WIDTH) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

// Typography
h1,
h2,
h3 {
  color: black;
}

h1 {
  font-size: 28px;
  padding: 0.8em 0 0.3em;
  margin: 0;
}

.listings {
  margin-top: 0.5em;

  .listing {
    margin: 0.7em 0;

    > a {
      display: flex;
      align-items: flex-start;
      vertical-align: center;

      .listing-date {
        padding-left: 2em;
        color: black;
        white-space: nowrap;

        @media screen and (max-width: $MOBILE_WIDTH) {
          padding-left: 1em;
        }
      }

      .listing-title {
        padding-left: 3em;

        @media screen and (max-width: $MOBILE_WIDTH) {
          padding-left: 1.5em;
        }
      }
    }

    @media screen and (max-width: $MOBILE_WIDTH) {
      font-size: 0.8em;
    }
  }
}

.post {
  padding-bottom: 1em;
}

.post-date p {
  font-style: italic;
  font-size: 15px;
  margin: 0.5em 0;
}

blockquote {
  border-left: 0.25em solid lightgray;
  padding-left: 1em;
  margin-left: 1em;
}

@media screen and (max-width: $MOBILE_WIDTH) {
  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  .nav-container {
    align-items: flex-start;
    padding: 0.9em 0 0;
  }

  // show hamburger button
  .hamburger {
    display: flex;
  }

  header {
    .dropdown {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0.3em 0;
      min-width: 170px;
      width: 40%;
    }

    // Open menu if checked
    .menu {
      width: 200px;
      z-index: 5; // stack order, greater in front
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      padding: 0;
      margin-top: 0.5em;
      border: 0.5px solid grey;
      transition: visibility 0.25s, opacity 0.25s ease-in-out;

      .menu-item {
        width: 100%;
        padding: 0.7em 0;
      }
    }

    .menu-btn:checked {
      ~ .menu {
        position: absolute;
        top: 60px;
        visibility: visible;
        opacity: 1;
        z-index: 15;
      }
    }
  }
}

// Buttons
.btn {
  display: inline-block;
  padding: 8px 15px;
  color: darkslategray;
  background: #e3e3e3;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 5px;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #e3e3e3;
  background: black;
}

.btn-top {
  float: right;
  margin-top: 23px;
}

.btn-text:hover {
  font-style: italic;
}

a {
  &:not(.img-link) {
    text-decoration: none;
    color: blue;
    overflow-wrap: break-word; // chrome
    word-wrap: break-word; // safari

    &:not(.btn):hover,
    &:not(.btn):focus,
    &:not(.btn):active {
      font-style: italic;
    }

    &.menu-item {
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
    }

    &.menu-item:hover,
    &.menu-item:focus,
    &.menu-item:active {
      font-style: italic;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 70%;
    }

    .social-media-thumbnail {
      max-height: 27px;
      max-width: 30px;
    }
  }

  &.img-link {
    text-align: center;
    color: unset;
    text-decoration: unset;
  }
}

// Layout
div.top-title {
  background: $HIGHLIGHT_COLOR;
}

figure {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: 15px;

  @media screen and (max-width: $MOBILE_WIDTH) {
    figcaption {
      a {
        overflow-wrap: anywhere; // chrome
        word-break: break-all;
      }
    }
  }
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0.3em 0;

  li {
    padding: 0.3em 0;
  }
}

.container {
  padding: 0 2em;
  margin: 0 auto;

  @media screen and (max-width: $MOBILE_WIDTH) {
    padding: 0 1em;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-buttons {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-wrap: wrap;
}

.no-bull-list {
  margin: 10px 10px 30px 70px;
}

.indent {
  margin-left: 40px;
}

span.italic {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

span.bold {
  font-weight: 700;
}

.figcaption-text {
  margin: 1em 1em 0;
  text-align: center;
}

// Table of Contents
.toc_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toc_list a {
  margin: 0 0.5em;
  padding: 0.3em 0;
  width: 100%;
  text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li,
#toc_container ul li:before {
  content: "";
  list-style: outside none none !important;
  margin: 0 0.5em;
  padding: 0.3em 0;
  width: 100%;
  text-align: center;
}

// code blocks
pre {
  background: $CODE_BACKGROUND;
  overflow-y: auto;
  padding: 1em 0.5em;
  box-shadow: 1px 1px 3px black;

  // undo the inline code style below
  code {
    padding: 0;
    background: none;
  }
}

// inline code
code {
  padding: 0 0.2em;
  font-size: 1.1em;
  background: $CODE_BACKGROUND;
}

// Try to always show scrollbars (doesn't work on mobile)
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

// MathJax
.MathJax {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

// Misc
.centered {
  font-size: 2rem;
  font-family: serif;
  text-align: center;
}

.word-break {
  word-break: break-all;
}
