<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="icon" href="{{if (isset .Params "favicon") }}{{ .Params.favicon }}{{ else }}/img/favicon.png{{ end }}" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="{{ if .Description }}{{ .Description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}An article by Leo Robinovitch{{ end }}">

  {{ $mainStyle := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  {{ $headerStyle := resources.Get "sass/header.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  {{ $footerStyle := resources.Get "sass/footer.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $mainStyle.RelPermalink }}">
  <link rel="stylesheet" href="{{ $headerStyle.RelPermalink }}">
  <link rel="stylesheet" href="{{ $footerStyle.RelPermalink }}">
  <a rel="me" href="https://recurse.social/@robinovitch61"></a>
</head>

<body>
{{ partial "header" . }}
{{ block "main" . }}
{{ end }}
</body>
</html>
