*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  height: 90%;
}

#grid {
  background: white;
  height: min(70%, 95vw);
  display: grid;
  grid-template-columns: repeat(var(--repeatNumber, 2), auto);
  grid-template-rows: repeat(var(--repeatNumber, 2), auto);
}

.pixel {
}
