/*general*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/*links*/
a {
  text-decoration: unset;
  color: unset;
}

a:hover {
  opacity: 0.7;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header a {
  display: flex;
  align-items: center;
  padding-right: 2.5em;
  margin-right: 0.5em;
  height: 100%;
}

.header img.logo {
  max-width: 240px;
}

.header img.icon {
  max-width: 20px;
}

/*content*/
.content {
  margin-top: 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2.5em;
}

.content img {
  max-width: 300px;
}

.content p.post-title {
  font-weight: bold;
  margin: 0.5em 0;
}
