<header>
  <div class="header-content">
    <a href="/">
      <div class="logo">THE LEO ZONE</div>
    </a>
    <div class="stripes">
      <div class="stripe top"></div>
      <div class="stripe middle"></div>
      <div class="stripe bottom"></div>
    </div>
    <a href="/">
      <div class="sun">
        <div class="stripes"></div>
      </div>
    </a>
    <div class="nav">
      <a href="/" target="_self">home</a>
      <a href="https://github.com/robinovitch61" target="_blank">github</a>
      <a href="/about" target="_self">about</a>
    </div>
  </div>
</header>
