<header class="header">
  <div class="container">
    <div class="nav-container">
      <div class="nav-text-and-pics">
        <a class="btn-text" href="/"><h1>Leo</h1></a>

        <a href="https://github.com/robinovitch61" target="_blank">
          <img id="github" src="/img/github.png" alt="github" title="github" />
        </a>

        <a
          href="https://www.linkedin.com/in/leo-robinovitch-439b98a6/"
          target="_blank"
        >
          <img
            id="linkedin"
            src="/img/linkedin.png"
            alt="linkedin"
            title="linkedin"
          />
        </a>
      </div>

      <div class="dropdown">
        <input class="hamburger menu-btn" type="checkbox" id="menu-btn" />
        <label class="hamburger menu-icon" for="menu-btn">
          <span class="navicon-top"></span>
          <span class="navicon-mid"></span>
          <span class="navicon-bottom"></span>
        </label>
        <div class="menu">
          <a class="a-menu-item" href="/">Home</a>
          <a class="a-menu-item" href="/about">About</a>
          <a class="a-menu-item" href="/lynx">Lynx</a>
          <a class="a-menu-item" href="/resume.html">Resume</a>
        </div>
      </div>
    </div>
  </div>
</header>
