{{ define "main" }}
<h3>writing</h3>
<ul>
  {{ range where .Site.RegularPages ".Type" "posts" }}
  <li class="post"><i>{{ .Date.Format "Jan 02, 2006" }}</i> - <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>

<h3>recurse center log</h3>
<ul>
  {{ range where .Site.RegularPages ".Type" "recurse" }}
  <li class="post"><i>{{ .Date.Format "Jan 02, 2006" }}</i> - <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>

<h3>lists</h3>
<ul>
  {{ range where .Site.RegularPages ".Type" "lists" }}
  <li class="post"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
