*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

html, body {
  height: 100%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  text-align: center;
}
