{{ $src := .Get `src` }}
<a class="img-link" target="_blank" href="{{ if strings.Contains $src "./" }}{{ $src }}{{ else }}/img/{{ $src }}{{ end }}">
  <figure>
      <img
          loading="lazy"
          style="max-width: {{ .Get `width` | default 95 }}{{ .Get `unit` | default "%"}};"
          src="{{ if strings.Contains $src "./" }}{{ $src }}{{ else }}/img/{{ $src }}{{ end }}"
          alt="{{ .Get `alt` | default $src }}"
      />
      {{ with .Get `caption`}}<figcaption class="figcaption-text">{{ . }}</figcaption>{{ end }}
      {{ with .Get `source`}}<figcaption class="figcaption-text">Source: <a href="{{ . }}">{{ . }}</a></figcaption>{{ end }}
  </figure>
</a>
